<ion-view title="Dashboard" ng-controller="TempCtrl">
  <ion-content class="padding">
    
    <!--TEMPERATURE-->
    <h1>Arduino Temperature Sensor</h1>
      <ion-item ng-update>
        <p>The temperature now is</p> 
        <span class ="large"><h1>{{arduinotemperature}} °C</h1></span>
         
      </ion-item>
     <!--HUMIDITY-->
    <h1>Arduino Humidity Sensor</h1>
      <ion-item ng-update>
        <p>The temperature now is</p> 
          <span class="large"> <h1>Humidity: {{arduinohumidity}} 50 % </h1></span>
      </ion-item>
    
      <!--LIGHT SENSOR-->
    <h1>Arduino Light Sensor</h1>
      <ion-item ng-update>
        <p>The temperature now is</p> 
          <span class="large"><h1>Light Sensor: {{arduinolightsensor}} 90 % </h1></span>
      </ion-item>
      
  </ion-content>
</ion-view>