<ion-view title="Light Control" ng-controller="lightControlCtrl">
    <ion-content padding="'true'" class="has-header has-footer">
        <form class="list">
        <!--TOGGLE BUTTONS-->
        
            <!--Hall-->
            <ion-toggle toggle-class="toggle-positive" ng-model="hallModel" ng-click="toggleHall()">Hall</ion-toggle>
            <!-- Kitchen-->
            <ion-toggle toggle-class="toggle-positive" ng-model="kitchenModel" ng-click="toggleKitchen()">Kitchen</ion-toggle>
            <!--BedRoom-->
            <ion-toggle toggle-class="toggle-positive" ng-model="bedRoomModel" ng-click="toggleBedRoom()">Bedroom</ion-toggle>
            <!-- LivingRoom-->
            <ion-toggle toggle-class="toggle-positive" ng-model="livingRoomModel" ng-click="toggleLivingRoom()">Livingroom</ion-toggle>
            <!-- BathRoom-->
            <ion-toggle toggle-class="toggle-positive" ng-model="bathRoomModel" ng-click="toggleBathRoom()">Bathroom</ion-toggle>
        
        <!--SLIDERS-->
        
            <!--Hall Slider-->
            <ion-item class="range range-positive">Hall Intensity
                <input type="range" value="50" min="0" max="255" name="Hall Light Intensity"  ng-model="hallSliderQty.qty" ng-change="HallRangeSlider()">
            </ion-item>
             <!--Kitchen Slider-->
            <ion-item class="range range-positive">Kitchen Intensity
                <input type="range" value="50" min="0" max="255" name="Kitchen Light Intensity"  ng-model="kitchenSliderQty.qty" ng-change="KitchenRangeSlider()">
            </ion-item>
             <!--BedRoom Slider-->
            <ion-item class="range range-positive">BedRoom Intensity
                <input type="range" value="50" min="0" max="255" name="BedRoom Light Intensity"  ng-model="bedRoomSliderQty.qty" ng-change="BedRoomRangeSlider()">
            </ion-item>
             <!--LivingRoom Slider-->
            <ion-item class="range range-positive">LivingRoom Intensity
                <input type="range" value="50" min="0" max="255" name="LivingRoom Light Intensity"  ng-model="livingRoomSliderQty.qty" ng-change="LivingRoomRangeSlider()">
            </ion-item>
             <!--BathRoom Slider-->
            <ion-item class="range range-positive">BathRoom Intensity
                <input type="range" value="50" min="0" max="255" name="BathRoom Light Intensity"  ng-model="bathRoomSliderQty.qty" ng-change="BathRoomRangeSlider()">
            </ion-item>
            
        </form>
        <a menu-close="" href="#/page2" class="button button-stable button-block  icon-right ion-ios-arrow-thin-left">back</a>
    </ion-content>
</ion-view>