<ion-view title="Dashboard" ng-controller="temperatureCtrl as tempCtrl">
  <ion-content class="padding">
    
    
  <div class="list">
    
    <!--TEMPERATURE-->
    <div class="item item-divider">
      <h2>Arduino Temperature Sensor</h2>
    </div>
    <ion-item ng-update>
      <p>The temperature now is:</p> 
        <span class ="large"><h1> {{ tempCtrl.arduinotemperature }}  °C</h1></span>
    </ion-item>
      
      
     <!--HUMIDITY-->
    <div class="item item-divider">
      <h2>Arduino Humidity Sensor</h2>
    </div>
    <ion-item ng-update>
      <p>The humidity now is:</p> 
        <span class="large"> <h1> {{ tempCtrlarduinohumidity }} 50 % </h1></span>
    </ion-item>
    
    
      <!--LIGHT SENSOR-->
    <div class="item item-divider">
      <h2>Arduino Light Sensor</h2>
    </div>
    <ion-item ng-update>
      <p>The light intensity now is:</p> 
        <span class="large"><h1> {{ tempCtrl.arduinolightsensor }} 90 % </h1></span>
    </ion-item>
      
  </div>  
  
  </ion-content>
</ion-view>